.todo__form {
  margin-top: 4vh;
}

.todo__input {
  width: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  height: 40px;
  text-indent: 40px;
}

.todo__button {
  /* display: none; */
  position: absolute;
  opacity: 0;
  touch-action: none;
}
